body {
	background-color:#0088CC;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}


a {
    color: #F3F0DF;
    text-decoration: none;
}

a:hover 
{
     color:#F3F0DF; 
     text-decoration:none; 
     cursor:pointer;  
}
ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#title {
	text-align: center;
	color:#FDF4E6;
}

.button-wrapper {
	position: absolute;
	bottom: 20px;
}

.navButton {
	color : #F89406;
	border: 1px #F89406 solid;
	padding: 3px 3px;
}

#wrapper {
	display: inline-block;
	border: 1px #F3F0DF solid;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 30px;
	margin-top: 20px;
}

.PR {
	color: #BD362F;
}


.errorList{
	color:red;
}